# RGB panel dual pmod
 # Data for panels with Red on pin 1/5 and Blue on pin 3/7
set_io -nowarn R1in 3  # A7 - Red   1
set_io -nowarn G1in 48 # A8 - Green 1
set_io -nowarn B1in 46 # A9 - Blue  1
set_io -nowarn R0in 4  # A1 - Red   0
set_io -nowarn G0in 2  # A2 - Green 0
set_io -nowarn B0in 47 # A3 - Blue  0

# Data for panels with Red on pin 3/7 and Blue on pin 1/5
#set_io -nowarn hub75_data[5] 46 # A9 - Red   1
#set_io -nowarn hub75_data[4] 48 # A8 - Green 1
#set_io -nowarn hub75_data[3] 3  # A7 - Blue  1
#set_io -nowarn hub75_data[2] 47 # A3 - Red   0
#set_io -nowarn hub75_data[1] 2  # A2 - Green 0
#set_io -nowarn hub75_data[0] 4  # A1 - Blue  0

 # Row address
set_io -nowarn A4in 28 # B10
set_io -nowarn A3in 31 # B4
set_io -nowarn A2in 34 # B3
set_io -nowarn A1in 38 # B2
set_io -nowarn A0in 43 # B1

 # Control
set_io -nowarn SCLKin  32     # B9
set_io -nowarn LATCHin 36      # B8
set_io -nowarn BLANKin 42   # B7

# Clock
set_io -nowarn clk 35

